<div class="grid-content">
    <h1>Top Paid Courses in Web Development</h1>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-feature-card" *ngFor="let fake of fakeData">
        <div class="mdl-card__media_feature"
             style="background-image: url('../../../../images/364426_2991_5.jpg');">
        </div>
        <div class="mdl-card mdl-cell mdl-feature">
            <div class="mdl-card__title">
                Consequat ut quis
            </div>
            <div class="mdl-card__supporting-text mdl-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenan convallis.
            </div>
            <div class="mdl-card__supporting-text mdl-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenan convallis.
            </div>
            <div class="mdl-card__supporting-text">
                <rating [(ngModel)]="starsCount"></rating>
            </div>
            <div class="mdl-card__actions mdl-card--border" style="text-align: right">
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                    <img class="mdl-chip__contact" src="../../../../images/Coin_icon-icons.com_67575.png"/>
                    <span class="mdl-chip__text">4999</span>
                    <button type="button" class="mdl-chip__action"><i
                            class="material-icons">keyboard_arrow_right</i></button>
                    </span>
            </div>
        </div>
    </section>
</div>

<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Simple portfolio website</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>
