<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="header-logo">
                <a class="mdl-layout-title" href="#">Home</a>
            </div>
            <!-- Title -->
            <div class="header-menu">
                <div class="cd-dropdown-wrapper">
                    <a class="cd-dropdown-trigger" href="#">Browse</a>
                    <nav class="cd-dropdown">
                        <ul class="cd-dropdown-content">
                            <li class="has-children">
                                <a><i class="material-icons">web</i>   Development</a>
                                <ul class="cd-dropdown-icons is-hidden">
                                    <li class="see-all"><a routerLink="/list">See All</a></li>
                                    <li>
                                        <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
                                            <p>Service #1</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
                                            <p>Service #2</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">
                                            <p>Service #3</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">
                                            <p>Service #4</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">
                                            <p>Service #5</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">
                                            <p>Service #6</p>
                                            <p>This is the item description</p>
                                        </a>
                                    </li>
                                </ul> <!-- .cd-dropdown-icons -->
                            </li> <!-- .has-children -->
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"><i class="material-icons">web</i>   Services</a>
                            </li> <!-- .has-children -->
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"><i class="material-icons">web</i>   Services</a>
                            </li> <!-- .has-children -->
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"><i class="material-icons">web</i>   Services</a>
                            </li> <!-- .has-children -->
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748"><i class="material-icons">web</i>   Services</a>
                            </li> <!-- .has-children -->
                        </ul> <!-- .cd-dropdown-content -->
                    </nav> <!-- .cd-dropdown -->
                </div> <!-- .cd-dropdown-wrapper -->
            </div>
            <div class="header-search">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </div>
                </div>
            </div>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="show-dialog">
                Login
            </button>
            <dialog class="mdl-dialog">
                <div class="mdl-dialog__header">
                    <button type="button" class="close" ng-click="vm.close()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <h4 class="mdl-dialog__title">Login with ...</h4>
                <div class="mdl-dialog__content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">Username...</label>
                    </div>
                    <br/>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample4">
                        <label class="mdl-textfield__label" for="sample3">Password...</label>
                    </div>
                    <br/>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Button
                    </button>
                    <br/>
                    <br/>
                    <facebook-login></facebook-login>
                </div>
            </dialog>
        </div>

        <!--<div class="line"></div>-->
        <!-- Tabs -->
        <!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect">-->
            <!--<a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>-->
            <!--<a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>-->
            <!--<a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>-->
            <!--<a href="#fixed-tab-4" class="mdl-layout__tab">Tab 4</a>-->
            <!--<a href="#fixed-tab-5" class="mdl-layout__tab">Tab 5</a>-->
            <!--<a href="#fixed-tab-6" class="mdl-layout__tab">Tab 6</a>-->
        <!--</div>-->
    </header>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div>

<!--<main>-->
<!--<h1>Angular 2 with Webpack and Material Design</h1>-->
<!--<h2>Angular Router</h2>-->
<!--<nav>-->
<!--<a routerLink="/login" routerLinkActive="active">Login</a>-->
<!--<a routerLink="/signup" routerLinkActive="active">Signup</a>-->
<!--<a routerLink="/todos" routerLinkActive="active">TO DO</a>-->
<!--</nav>-->
<!--<img src='../img/angular.png' />-->
<!--</main>-->