h2 {
  color: #66CC44;
  font-weight: 900;
}

.header-logo {
  width: 10%;
}

.header-search {
  width: 30%;
}

.mdl-textfield__expandable-holder {
  width: 300px;
}

.line {
  border-top: 0.5px solid lightgrey;
}

.mdl-dialog {
  width: 30%;
}

.close {
  outline: none!important;
}

.parent{
  padding: 0px!important;
  float: left;
  list-style: none;
  width: 100%;
  background: red;
}
.parent > li{
  float: left;
  width: 33.333%;
  background: green;
}
.parent:hover .child{
  display: block;
}
.child{
  position: absolute;
  width: 100%;
  list-style: none;
  display: none;
  background: yellow;
}
.child > li{
  float: left;
  width: 33.333%;
}
