<!--<div style="display: flex;background:#f4f4f4;padding-top: 40px; padding-bottom: 40px;">-->
    <!--<div style="width: 15%;text-align: left">-->
        <!--<h4 style="margin-left: 16px">More in Development</h4>-->
        <!--<ul class="demo-list-icon mdl-list">-->
            <!--<li class="mdl-list__item">-->
                <!--<a class="mdl-list__item-primary-content" href="#">-->
                    <!--<i class="material-icons">web</i>  Web Development-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="mdl-list__item">-->
                <!--<a class="mdl-list__item-primary-content" href="#">-->
                    <!--<i class="material-icons">web</i>  Web Development-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="mdl-list__item">-->
                <!--<a class="mdl-list__item-primary-content" href="#">-->
                    <!--<i class="material-icons">web</i>  Web Development-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="grid-content">-->
        <!--<h2>Featured Course</h2>-->
        <!--<section class="section&#45;&#45;center mdl-grid mdl-grid&#45;&#45;no-spacing mdl-shadow&#45;&#45;2dp mdl-feature-card">-->
            <!--<div class="mdl-card__media_feature"-->
                 <!--style="background-image: url('../../../images/950390_270f_3.jpg');">-->
            <!--</div>-->
            <!--<div class="mdl-card mdl-cell mdl-feature">-->
                <!--<div class="mdl-card__title">-->
                    <!--Consequat ut quis-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text mdl-content">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                    <!--Aenan convallis.-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text mdl-content">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                    <!--Aenan convallis.-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text mdl-content">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                    <!--Aenan convallis.-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text mdl-content">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                    <!--Aenan convallis.-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text">-->
                    <!--<rating [(ngModel)]="starsCount"></rating>-->
                <!--</div>-->
                <!--<div class="mdl-card__actions mdl-card&#45;&#45;border" style="text-align: right">-->
                    <!--<span class="mdl-chip mdl-chip&#45;&#45;contact mdl-chip&#45;&#45;deletable">-->
                    <!--<img class="mdl-chip__contact" src="../../../images/Coin_icon-icons.com_67575.png"/>-->
                    <!--<span class="mdl-chip__text">4999</span>-->
                    <!--<button type="button" class="mdl-chip__action"><i-->
                            <!--class="material-icons">keyboard_arrow_right</i></button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!--<div class="item-content">-->
            <!--<div class="item-content-title">-->
                <!--<span>Best Sellers in Development</span>-->
                <!--<a routerLink="detail">See All</a>-->
            <!--</div>-->
            <!--<div class="flex-container">-->
                <!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp" *ngFor="let fake of fakeData">-->
                    <!--<div class="mdl-card__media">-->
                        <!--<img src="../../../images/example-work07.jpg">-->
                    <!--</div>-->
                    <!--<div class="mdl-card__title">-->
                        <!--Consequat ut quis-->
                    <!--</div>-->
                    <!--<div class="mdl-card__supporting-text mdl-content">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Aenan convallis.-->
                    <!--</div>-->
                    <!--<div class="mdl-card__supporting-text">-->
                        <!--<rating [(ngModel)]="starsCount"></rating>-->
                    <!--</div>-->
                    <!--<div class="mdl-card__actions mdl-card&#45;&#45;border" style="text-align: right">-->
                    <!--<span class="mdl-chip mdl-chip&#45;&#45;contact mdl-chip&#45;&#45;deletable">-->
                    <!--<img class="mdl-chip__contact" src="../../../images/Coin_icon-icons.com_67575.png"/>-->
                    <!--<span class="mdl-chip__text">4999</span>-->
                    <!--<button type="button" class="mdl-chip__action"><i-->
                            <!--class="material-icons">keyboard_arrow_right</i></button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div class="mdl-card__menu">-->
                        <!--<button id="tt1" class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect md-red">-->
                            <!--<i-->
                                    <!--class="material-icons">favorite_border</i></button>-->
                        <!--<div class="mdl-tooltip mdl-tooltip&#45;&#45;left" data-mdl-for="tt1">-->
                            <!--Favourite-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="item-content">-->
            <!--<div class="item-content-title">-->
                <!--<span>Best Sellers in Development</span>-->
                <!--<a routerLink="detail">See All</a>-->
            <!--</div>-->
            <!--<div class="flex-container">-->
                <!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp" *ngFor="let fake of fakeData">-->
                    <!--<div class="mdl-card__media">-->
                        <!--<img src="../../../images/example-work07.jpg">-->
                    <!--</div>-->
                    <!--<div class="mdl-card__title">-->
                        <!--Consequat ut quis-->
                    <!--</div>-->
                    <!--<div class="mdl-card__supporting-text mdl-content">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--Aenan convallis.-->
                    <!--</div>-->
                    <!--<div class="mdl-card__supporting-text">-->
                        <!--<rating [(ngModel)]="starsCount"></rating>-->
                    <!--</div>-->
                    <!--<div class="mdl-card__actions mdl-card&#45;&#45;border" style="text-align: right">-->
                    <!--<span class="mdl-chip mdl-chip&#45;&#45;contact mdl-chip&#45;&#45;deletable">-->
                    <!--<img class="mdl-chip__contact" src="../../../images/Coin_icon-icons.com_67575.png"/>-->
                    <!--<span class="mdl-chip__text">4999</span>-->
                    <!--<button type="button" class="mdl-chip__action"><i-->
                            <!--class="material-icons">keyboard_arrow_right</i></button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div class="mdl-card__menu">-->
                        <!--<button id="tt2" class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect md-red">-->
                            <!--<i-->
                                    <!--class="material-icons">favorite_border</i></button>-->
                        <!--<div class="mdl-tooltip mdl-tooltip&#45;&#45;left" data-mdl-for="tt2">-->
                            <!--Favourite-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="left_content">
                <div class="single_page">
                    <ol class="breadcrumb">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#">Technology</a></li>
                    </ol>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="fashion">
                            <div class="single_post_content">
                                <h2><span>Fashion</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"> <a routerLink="detail/item" class="featured_img"> <img alt="" src="../../images/featured_img2.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a routerLink="detail" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="middle_content">
                            <div class="single_post_content">
                                <h2><span>Technology</span></h2>
                                <ul class="business_catgnav">
                                    <li>
                                        <figure class="bsbig_fig wow fadeInDown"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="../../images/featured_img3.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
                                <h2><span>Fashion</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="../../images/featured_img2.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="fashion">
                            <div class="single_post_content">
                                <h2><span>Fashion</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="../../images/featured_img2.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="middle_content">
                            <div class="single_post_content">
                                <h2><span>Technology</span></h2>
                                <ul class="business_catgnav">
                                    <li>
                                        <figure class="bsbig_fig wow fadeInDown"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="../../images/featured_img3.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
                                <h2><span>Fashion</span></h2>
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="../../images/featured_img2.jpg"> <span class="overlay"></span> </a>
                                            <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img1.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="../../images/post_img2.jpg"> </a>
                                            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
