<div>
    <ul class="parent" style="margin-bottom: 0px;!important;height: 47px;">
        <a href="#" class="parent1">
            <i class="material-icons md-18">web</i>
            Development
            <ul class="child">
                <a href="#" class="parent2">
                    <i class="material-icons md-48">web</i>
                    <br/>
                    Web Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">web</i>
                    <br/>
                    Web Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
            </ul>
        </a>
        <a href="#" class="parent1">
            <i class="material-icons md-18">web</i>
            Business
            <ul class="child">
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">web</i>
                    <br/>
                    Web Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
            </ul>
        </a>
        <a href="#" class="parent1">
            <i class="material-icons md-18">web</i>
            IT & Software
            <ul class="child">
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">web</i>
                    <br/>
                    Web Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
            </ul>
        </a>
        <a href="#" class="parent1">
            <i class="material-icons md-18">web</i>
            Personal Development
            <ul class="child">
                <a href="#" class="parent2">
                    <i class="material-icons md-48">web</i>
                    <br/>
                    Web Development
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
            </ul>
        </a>
        <a href="#" class="parent1">
            <i class="material-icons md-18">web</i>
            Desgin
            <ul class="child">
                <a href="#" class="parent2">
                    <i class="material-icons md-48">settings_overscan</i>
                    <br/>
                    Progamming Languages
                </a>
                <a href="#" class="parent2">
                    <i class="material-icons md-48">videogame_asset</i>
                    <br/>
                    Game Development
                </a>
            </ul>
        </a>
    </ul>
</div>

<div class="grid-content">
    <div>
        <img src="../../../images/ny2017_hellobar_banner_en.gif">
    </div>
    <div class="item-content">
        <div class="item-content-title">
            <span>Best Sellers in Development</span>
            <a href="#">See All</a>
        </div>
        <div class="flex-container">
            <div class="demo-card-square mdl-card mdl-shadow--2dp" *ngFor="let fake of fakeData">
                <div class="mdl-card__media">
                    <img src="../../../images/example-work07.jpg">
                </div>
                <div class="mdl-card__title">
                    Consequat ut quis
                </div>
                <div class="mdl-card__supporting-text mdl-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenan convallis.
                </div>
                <div class="mdl-card__supporting-text">
                    <rating [(ngModel)]="starsCount"></rating>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align: center">
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                    <img class="mdl-chip__contact" src="../../../images/Coin_icon-icons.com_67575.png"/>
                    <span class="mdl-chip__text">4999</span>
                    <button type="button" class="mdl-chip__action"><i
                        class="material-icons">keyboard_arrow_right</i></button>
                    </span>
                </div>
                <div class="mdl-card__menu">
                    <button id="tt1" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect md-red"><i
                            class="material-icons">favorite_border</i></button>
                    <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="tt1">
                        Favourite
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-content">
        <div class="item-content-title">
            <span>Best Sellers in Development</span>
            <a href="#">See All</a>
        </div>
        <div class="flex-container">
            <div class="demo-card-square mdl-card mdl-shadow--2dp" *ngFor="let fake of fakeData">
                <div class="mdl-card__media">
                    <img src="../../../images/example-work07.jpg">
                </div>
                <div class="mdl-card__title">
                    Consequat ut quis
                </div>
                <div class="mdl-card__supporting-text mdl-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenan convallis.
                </div>
                <div class="mdl-card__supporting-text">
                    <rating [(ngModel)]="starsCount"></rating>
                </div>
                <div class="mdl-card__actions mdl-card--border" style="text-align: center">
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                    <img class="mdl-chip__contact" src="../../../images/Coin_icon-icons.com_67575.png"/>
                    <span class="mdl-chip__text">4999</span>
                    <button type="button" class="mdl-chip__action"><i
                        class="material-icons">keyboard_arrow_right</i></button>
                    </span>
                </div>
                <div class="mdl-card__menu">
                    <button id="tt2" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect md-red"><i
                            class="material-icons">favorite_border</i></button>
                    <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="tt2">
                        Favourite
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Simple portfolio website</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>
